.tableRow {
    font-family:Nunito Sans;
    font-weight:400px;
    :hover{
        color:#302b48;
        td .button {
            background-color: #8199cd;
            color: #fff;
           
        }
        .folder {
            color: #8199cd;
            :hover{
                color: #8199cd; 
            }
        }
    }
}
.tableHead {
    color:blue;
    .formControl{
        color:yellow;
        .select{
            margin-top:-3px;
            div {
                div {
                    color: #fff;
                    border: 2px solid #8199cd;
                    border-radius: unset;    
                    padding:0px 20px 1px 1px;
                }
        }
        }
    }
    form {
        .AddCustomerForm {
            .AddCustomerTextField{
                input{
                    background-color: red !important;
                    color:red,
                }
            }
        }
    }
    
}