.tableBody {
    tr{
        th{
            padding: 5px;
            text-align: center;
        }
        td{
            padding: unset !important;
            padding: 5px;
            text-align: center;
            .tabIcons{
                font-size: 2px !important;
            }
        }
    }
}
.tableHead {
    th{
        height: 45px !important;
        padding: 5px !important;
    }
}